body{
    background-color: black;
}
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville";
}

img{
    width: 100%;
    border: 5px solid white;
}

h1{
    
    text-transform: uppercase;
}
